body {
  background-color: #ebe8e7;
  font-family: "Poppins", sans-serif;
}

.App {
  padding: 25px 50px;
  background-color: #ffffff;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.line {
  border-bottom: 1px solid #7a77b9;
  padding: 0 0 30px 0;
}

footer p {
  padding: 10px 0 0 0;
  font-size: 13px;
  text-align: center;
}
