h1 {
  font-size: 80px;
  text-align: center;
  color: #7a77b9;
  padding: 0;
  line-height: 48px;
}

.search-form {
  border-radius: 30px;
  padding: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.search-form:hover {
  border-radius: 30px;
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(234, 113, 134, 0.3);
  transition: all 200ms ease;
}

.search,
.submit {
  border: none;
  background-color: #ffffff;
  font-size: 15px;
  padding: 8px;
}

.search {
  width: 90%;
  outline: none;
}

.current-place {
  text-align: center;
}

.current-city {
  font-size: 50px;
  font-weight: bold;
  line-height: 2px;
  color: #ea7186;
}

.current-weather-details {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.current-temperature {
  display: flex;
  justify-content: space-around;
  font-size: 80px;
  font-weight: bold;
}

.icon {
  width: 100px;
  height: 100px;
  position: relative;
  top: 10px;
}

.current-temperature .temp {
  font-size: 80px;
}

.current-temperature .unit {
  font-size: 24px;
  position: relative;
  top: 20px;
}

.material-symbols-outlined {
  color: #bd9dea;
  position: relative;
  top: 5px;
}
